body {
	min-width: 880px;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #000000;

	background-color: #ffffff;
}

-html {
	background-image: url("../img/nerds-index-crop-slider-2.png");
	background-repeat: no-repeat;	
	background-position: center top;
}

/* BUTTON ////////////////////////////////*/

.btn {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #ffffff;
	min-width: 140px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 40px;
	padding-right: 40px;

	background-color: #fb565a;
	border-radius: 5px;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
}

.btn:hover {
	background-color: #d6494d;
}

.btn:active {
	background-color: #b63538;
	box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.15);
}

/* TEXT //////////////////////////////////*/

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-weight: 500;
}

a {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

h1 {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 18px;
}

h2 {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 14px;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
}

p {
	margin-bottom: 27px;
	color: #283136;
}

/* SERVICE */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
	width: 880px;
	margin: auto;
}


/* HEADER ////////////////////////////////*/

header {
	/* */
	background-color: #eeeeee;
	
	padding-top: 27px;
}

.main-navigation {
	position: relative;
}

.main-navigation img {
	margin: 0;
	width: 138px;
	height: 55px;
	float: left;
	margin-right: 183px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
	float: left;
	font-size: 0;
}

.main-navigation li {
	margin: 0;
	padding: 0;

	display: inline-block;
	vertical-align: bottom;

	margin-right: 45px;
}

.main-navigation li:last-of-type,
.main-navigation li:first-of-type {
	margin-right: 0;
}

.main-navigation a {
	font-size: 14px;
	line-height: 22px;

	display: block;
	padding-bottom: 2px;
	padding-top: 8px;
}

.main-navigation .cart-block {
	position: absolute;
	right: 0;
	bottom: 0;
}

.cart-block::before {
	content: "";
	width: 30px;
	height: 22px;
	
	left: -35px;
	top: 7px;

	position: absolute;
	background-image: url(../img/social-btn-sprite.png);
	background-position: center bottom;
}

/* SLIDER */
.header-slider {
	position: relative;
}

.slider {
	position: relative;
}

.slider-column-left {
	float: left;
	margin-top: 75px;
	width: 470px;
	margin-bottom: 80px;
}

.slider .btn {
	min-width: 240px;
}

.slider img {
	position: absolute;
	right: 0;
}

.slider-1 img {
	top: 54px;
}

.slider-2 img {
	top: 58px;
	right: 10px;
}

.slider-3 img {
	top: 35px;
	right: 6px;
}

.header-slider input {
	display: none;
}

.slider-controls {
	position: absolute;
	bottom: 94px;
	left: 50%;
	z-index: 	10;
	text-align: center;
	width: 160px;
	margin-left: -80px;
}

.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 3px solid #ffffff;
	margin-right: 5px;
	cursor: pointer;
}

.slider-controls label:last-of-type {
	margin-right: 0;
}

input[id="slider-1"]:checked ~ .slider-controls label[for="slider-1"],
input[id="slider-2"]:checked ~ .slider-controls label[for="slider-2"],
input[id="slider-3"]:checked ~ .slider-controls label[for="slider-3"] {
	background-color: #c1c1c1;
}

.slider-1,
.slider-2,
.slider-3 {
	display: none;
}

input[id="slider-1"]:checked ~ div.slider-1 {
	display: block;
}

input[id="slider-2"]:checked ~ div.slider-2 {
	display: block;
}

input[id="slider-3"]:checked ~ div.slider-3 {
	display: block;
}

/* PRODUCTS //////////////////////////////*/

.products {
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 2px solid #f8f8f8;
}

.product-item {
	float: left;
	margin-right: 80px;
	width: 240px;
}

.product-item:last-of-type {
	margin-right: 0;
}

.product-item img {
	margin-bottom: 17px;
}

.product-item p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 26px;	
}

.apps .btn {
	background-color: #00ca74;
}

.apps .btn:hover {
	background-color: #01a25e;
}

.apps .btn:active {
	background-color: #009053;
	box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.15);
}

.presentation .btn {
	background-color: #efc84a;
}

.presentation .btn:hover {
	background-color: #d6ae2c;
}

.presentation .btn:active {
	background-color: #c09b24;
	box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.15);
}

/* ABOUT-US //////////////////////////////*/

.about-us {
	padding-top: 70px;
	padding-bottom: 48px;
	border-bottom: 2px solid #f8f8f8;
}

.about-us-line-1 {
	margin-bottom: 17px;
}

.about-us-column-left {
	float: left;
}

.about-us-column-right {
	float: right;
	width: 240px;
}

.about-us-column-right img {
	margin-left: 31px;
	margin-top: -12px;
	margin-bottom: 23px;
}

.about-us-column-right .since {
	display: block;
	font-size: 16px;
	text-align: center;
	position: relative;
}

.about-us-column-right .since:before {
	content: "";
	width: 67px;
	height: 2px;
	background-color: #f8f8f8;
	position: absolute;
	left: 0;
	top: 10px;
}

.about-us-column-right .since:after {
	content: "";
	width: 67px;
	height: 2px;
	background-color: #f8f8f8;
	position: absolute;
	right: 0;
	top: 10px;
}

.about-us-line-2 h3 {
	margin-bottom: 22px;
	color: #283136;
}

.about-us-line-2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us-line-2 li {
	position: relative;
	padding-left: 36px;
	margin-bottom: 22px;
	color: #283136;
}

.about-us-line-2 li:before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	position: absolute;
	left: 0;
	top: 10px;
}

/* CLIENTS IMG ****************************

.clients {
	text-align-last: justify;
	padding-top: 45px;
	padding-bottom: 30px;
	padding-right: 21px;
	padding-left: 21px;

	border-bottom: 2px solid #f8f8f8;
}

.clients img {
	display: inline-block;
	vertical-align: middle;
}

*/

/* CLIENTS ********************************/

.clients {
	padding-top: 40px;
	padding-bottom: 31px;

	border-bottom: 2px solid #f8f8f8;
	text-align-last: justify;
}

.client {
	font-size: 0;
	display: inline-block;
	width: 250px;
	height: 90px;
	background-image: url(../img/clients-sprite.png);
	opacity: 0.2;
}

.client:hover {
	opacity: 1;
}

.client-html-academy {
	background-position: center;
}

.client-barbershop {
	background-position: right;
}

/* CONTACTS *******************************/

.contacts {
	margin-top: 85px;
}

.contacts img,
.contacts iframe {
	display: block;
	margin: auto;
}

.contacts .container {
	position: relative;
}

.contacts-us {
	background-color: #ffffff;
	position: absolute;
	top: -328px;
	right: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 21px;
	padding-right: 21px;
}

.contacts-us h2 {
	margin-bottom: 11px;
}

.contacts-us p {
	color: #666666;
	margin-bottom: 21px;
	line-height: 20px;
}

.contacts-us .btn {
	width: 100%;
}

/* SOCIAL *********************************/

.social {
	margin-top: 75px;
	padding-bottom: 75px;
	position: relative;
}

.social-block {
	font-size: 0;
	float: left;
	min-width: 320px;
}

.social-block,
.social-block a{
	font-size: 0;
}

.social-btn {
	display: inline-block;
	width: 62px;
	height: 62px;
	margin-right: 28px;
	position: relative;
}

.social-btn::before {
	content: "";
	width: 62px;
	height: 62px;

	position: absolute;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-btn:hover::before{
	background-color: #d6494d;
}

.social-btn:active::before {
	background-color: #b63538;
	box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.15);
}

.social-btn::after {
	content: "";
	width: 30px;
	height: 22px;
	
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -13px;
	
	position: absolute;
	background-image: url(../img/social-btn-sprite.png);
}

.social-btn-vk::after {
	background-position: center 0;
}

.social-btn-fb::after {
	background-position: center -24px;
}

.social-btn-inst::after {
	background-position: center -48px;
}

.social .promo {
	float: left;
}

.promo h1 {
	margin-bottom: 10px;
}

.promo p {
	color: #283136;
}

/* modal-content-contact-us ***************/

.modal-content-contact-us {
	display: none;
	position: fixed;

	width: 620px;
	min-height: 410px;
	box-sizing: border-box;
	padding: 50px 80px;
	
	z-index: 20;
	left: 50%;
	margin-left: -310px;
	top: 120px;

	background-color: #ffffff;
	box-shadow: 0px 20px 40px 5px rgba(50, 50, 50, 0.75);	
}

.modal-content-close {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 41px;
	height: 41px;

	font-size: 0;

	background: url(../img/modal-content-close.png);
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-contact-us .btn {
	clear: both;
	width: 100%;
}

.modal-content-contact-us label {
	display: block;
	font-size: 16px;
}

label input,
label textarea {
	padding: 11px 15px;
	text-transform: uppercase;
	font-size: 12px;
	color: #000000;
	width: 220px;
	box-sizing: border-box;
	border: 2px solid #d7dcde;
	border-radius: 4px;
}

.label-text {
	display: inline-block;
	margin-bottom: 7px;
}

.label-name {
	float: left;
	margin-right: 20px;
}

.label-email {
	float: left;
}

.label-textarea {
	clear: both;
	width: 100%;
	padding-top: 18px;	
}

.label-textarea textarea {
	resize: none;
	width: 100%;
	height: 114px;
}	

.modal-content-contact-us .btn {
	position: absolute;
	bottom: 50px;
	width: 460px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}